@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

:root {
    --background-root: #0E1525;
    --background-default: #1C2333;
    --background-higher: #2B3245;
    --background-highest: #3C445C;
    --background-overlay: #0e1525A0;
    --foreground-default: #F5F9FC;
    --foreground-dimmer: #C2C8CC;
    --foreground-dimmest: #9DA2A6;
    --outline-default: #70788C;
    --outline-default-25: #70788C40;
    --outline-dimmer: #5F677A;
    --outline-dimmest: #4E5569;
    --accent-primary-dimmest: #004182;
    --accent-primary-dimmer: #0053A6;
    --accent-primary-default: #0079F2;
    --accent-primary-stronger: #57ABFF;
    --accent-primary-strongest: #B2D9FF;
    --accent-positive-dimmest: #044A10;
    --accent-positive-dimmer: #046113;
    --accent-positive-default: #009118;
    --accent-positive-stronger: #6CD97E;
    --accent-positive-strongest: #BFFFCA;
    --accent-negative-dimmest: #660000;
    --accent-negative-dimmer: #A60808;
    --accent-negative-default: #E52222;
    --accent-negative-stronger: #FF6666;
    --accent-negative-strongest: #FFCFCF;
    --accent-red-dimmest: #660000;
    --accent-red-dimmer: #A60808;
    --accent-red-default: #E52222;
    --accent-red-stronger: #FF6666;
    --accent-red-strongest: #FFCFCF;
    --accent-orange-dimmest: #542A00;
    --accent-orange-dimmer: #703800;
    --accent-orange-default: #AD5700;
    --accent-orange-stronger: #D4781C;
    --accent-orange-strongest: #FFBD7A;
    --accent-yellow-dimmest: #4D4000;
    --accent-yellow-dimmer: #635300;
    --accent-yellow-default: #967D00;
    --accent-yellow-stronger: #BFA730;
    --accent-yellow-strongest: #F2E088;
    --accent-green-dimmest: #044A10;
    --accent-green-dimmer: #046113;
    
    --white: #FCFCFC;
    --black: #0E1525;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans',sans-serif;
    background: var(--background-root);
    color: var(--white);
    overflow-x: hidden;
}

*, ::before, ::after {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    background-color: var(--background-default);
    width: 0.75rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-highest);
}

::-webkit-scrollbar-track {
    background-color: var(--background-default);
}

.token__key {
    color: #b2d9ff;
}

.token__value {
    color: #ffbd7a;
}

img {
    margin: 3rem 0 0 0;
    width: 100%;
    border-radius: 0.5rem;
}